fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy[asyncio]
pymysql
aiomysql
asyncpg
motor
cryptography
passlib[bcrypt]
python-jose[cryptography]
sse-starlette
python-multipart
alembic
email-validator
httpx